* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Lato", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 20px;

    h1 {
        width: 300px;
    }

    .card {
        position: relative;
        border: 1px solid rgb(208, 201, 201);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        gap: 15px;
        width: 450px;

        .logo {
            position: absolute;
            top: -40px;
            left: 5px;
        }

        button {
            background-color: #0097CF;
            padding: 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}
